.contenedor{
    background-color: black;
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "cabecera cabecera"
        "cont1 cont2"
        "pie pie";
    grid-template-columns: 2fr 9fr;
    padding: 5px;
}
.contenedor .cabecera{
    background-color: bisque;
    grid-area: cabecera;
}
.contenedor .cont1{
    grid-area: cont1;
}
.contenedor .cont2{
    grid-area: cont2;
}
.contenedor .pie{
    grid-area: pie;
}
